{% load static %}
<html>
<head>
<title>day1</title>
</head>
<body text="rgb(0,255,0)" bgcolor="rgb(255,255,255)">
<p>First Number:<input id="txtFirstNumber"></p>
<p>Second Number:<input id="txtSecondNmuber"></p>
<button onclick="add()">Add them</button>
<button onclick="sub()">sub them</button>
<button onclick="abc()">clear them</button>
<p>sum=<input id="txtAnswer"></p>
<marquee behavior=alternate>
<p>today is sunday</p>
</marquee behavior=alternate>
<marquee direction=right>
<p>this is the tenth day of training</p>
<marquee scrolldelay=120 direction=right></marquee>
<p>this is the tenth day of training</p>
<marquee scrolldelay=20 direction=left></marquee>
</marquee direction=right>
<img src="/static/img/peacock.png">
</body>
</html>