{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h2>Oops with java</h2>
<p>UNIT-I</p>
<p>Principles of OOP (encapsulation, abstraction, inheritance, polymorphism),
 benefits of OOP, comparison with procedural programming. </p>

<p>UNIT-II</p>
<p>Creating classes, defining data members (attributes) and member functions (methods), 
access specifiers (public, private, protected).</p>

<p>UNIT-III</p>
<p>Defining the behavior of operators for user-defined types (classes),
 overloading unary and binary operators.</p>

<p>UNIT-Iv</p>
<p>Single inheritance, multiple inheritance, multilevel inheritance,
 hierarchical inheritance, inheritance and access specifiers.</p>

<p>UNIT-V</p>
<p>Pointers in C++, dynamic memory allocation using new and delete, 
memory leaks. </p>
{% endblock %}