{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h2>Discrete Mathematical Structures [DMS]</h2>
<p>UNIT-I</p>
<p>Logic and Proof: Propositional Logic, Propositional Equivalent,
 Predicators and Quantifiers, NestedQuantifiers, Rules of Inference, 
Induction to Proofs, Proof Methods and Strategies.</p>

<p>UNIT-II</p>
<p>Induction and Recursion: Mathematical Induction, Strong Induction
and Well Ordering, Recursive Definitionsand Structural Induction, 
Recursive Algorithms.</p>

<p>UNIT-III</p>
<P>Counting: The basics of counting, The Pigeonhole Principle, 
Permutations and Combinations, BinomialCoefficients, Generalized 
permutations and Combinations, Generating Permutations and Combinations.</p>

<p>UNIT-IV</p>
<p>Advanced Counting Techniques: Recurrence Relations, Solving Linear 
Recurrence Relations, Divide andConquer algorithms and Recurrence 
Relations, Inclusion – Exclusion, Applications of Inclusion – Exclusion.</p>

<p>UNIT-V</p>
<p>Graphs: Graphs And Graph Methods, Graph Terminology And Special 
Types of Graphs, RepresentingGraphs and Graphs Isomorphism, Connectivity,
 Euler and Hamilton Paths, Shortest-Path Problems, Planar
Graphs, Graph Coloring.</p>

{% endblock %} 

