
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffcc99
}
header, footer {
    background-color: #bb5588
    color: dark pink
    padding: 10px;
}
main {
    padding: 20px;
    background-color: #ffAdff;
}