{% load static %}
<html>
<head>
<title>JAVA</title>
<link rel="stylesheet" href="{% static 'css/Nandini.css' %}">
</head>
<body>
<h1> MTICA </h1>
<div class="navbar">
<div class="dropdown">
<button class="dropbtn">Semester-I</button>
<div class="dropdown-content">
<a href="{% url 'mca101' %}">MCA101</a>
<a href="{% url 'mca102' %}">MCA102</a>
<a href="{% url 'mca103' %}">MCA103</a>
<a href="{% url 'mca104' %}">MCA104</a>
<a href="{% url 'mca105' %}">MCA105</a>
<a href="{% url 'mca106' %}">MCA106P</a>
<a href="{% url 'mca107' %}">MCA107P</a>
<a href="{% url 'mca108' %}">MCA108P</a>
</div></div>
<div class="dropdown">
<button class="dropbtn">Semester-II</button>
<div class="dropdown-content">
<a href="{% url 'mca201' %}">MCA201</a>
<a href="{% url 'mca202' %}">MCA202</a>
<a href="{% url 'mca203' %}">MCA203</a>
<a href="{% url 'mca204' %}">MCA204</a>
<a href="{% url 'mca205' %}">MCA205</a>
<a href="{% url 'mca206' %}">MCA206</a>
<a href="{% url 'mca207' %}">MCA207P</a>
<a href="{% url 'mca208' %}">MCA208P</a>
<a href="{% url 'mca209' %}">MCA209P</a>
</div></div>
<div class="dropdown">
<button class="dropbtn">Semester-III</button>
<div class="dropdown-content">
<a href="{% url 'mca301' %}">MCA301</a>
<a href="{% url 'mca302' %}">MCA302</a>
<a href="{% url 'mca303' %}">MCA303</a>
<a href="{% url 'mca304' %}">MCA304</a>
<a href="{% url 'mca305' %}">MCA305</a>
<a href="{% url 'mca307' %}">MCA307</a>
<a href="{% url 'mca308' %}">MCA308P</a>
<a href="{% url 'mca309' %}">MCA309P/a>
<a href="{% url 'mca310' %}">MCA310P</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">Semester-IV</button>
<div class="dropdown-content">
<a href="{% url 'mca401' %}">S/W Testing</a>
<a href="{% url 'mca402' %}">Internet of Things</a>
<a href="{% url 'mca403' %}">Major Project Work</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">Faculty</button>
<div class="dropdown-content">
<a href="{% url 'm' %}">PRABAKAR NAIDU</a>
<a href="{% url 'n' %}">MURALI MOHAN</a>
<a href="{% url 'o' %}">CHANDRA SHAKER</a>
<a href="{% url 'p' %}">HASYA</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">About Us</button>
<div class="dropdown-content">
<a href="about.html">Information</a>
</div>
</div>
</div>
<h1>WELCOME TO JAVA<h1>
<p>MCA 102: Object Oriented Programming with Java 
UNIT-I  
Introduction: Object Oriented Programming Concepts, Features of Java Language, Architecture, Data Types, 
Variables, Operators, Control Structures, Arrays. Classes: Classes, Wrapper Classes, Constructors, 
Overloading of methods, Access control, Nested and Inner classes, Abstract classes. Inheritance: Inheritance 
basics, Using Super, Multilevel hierarchy, Method overriding, Dynamic method dispatch, Final with 
inheritance. 
UNIT-II  
Math Class and Methods, Packages and Interfaces, Exception Handling: fundamentals, exception types, 
uncaught exceptions, using try, nested try statements, throw, throws, Java built-in exceptions, user defined 
exceptions. Multithreading: Thread model, main thread, creating a thread, Multiple threads, Thread priorities, 
synchronization, Inter thread communication, String handling. 
UNIT-III 
4 
Wrapper Classes: Number class, Character class, Boolean class.More utility classes: Vector, Stack, 
Dictionary, Hash table. String Tokenizer, Bit set, Date, Calendar. Input/output: File, Stream classes, Byte 
Streams, Character Streams.GUI Programming, 
UNIT-IV 
Features Applets: Applet basics, Applet architecture, an applet skeleton, Applet display method, Repainting, 
Using Status window, HTML APPLET tag, passing parameters to applet, Audio Clip interface. Even 
Handling; two event handling mechanisms, Event model, Event classes, sources of events, Event Listener 
interfaces, Adapter classes. Introduction to SWING: Window Fundamentals, working with frame windows, 
creating window programs, working with color, fonts, SWING Controls, Layout Managers and Menus: 
Control fundamentals, Labels, Using buttons, check boxes, checkbox group, choice controls, lists, scroll bars, 
Text field, layout managers, menu bars, and menus. 
UNIT-V 
Network Programming with Java: Networking classes and Interfaces, Internet Address, Factory method, 
Instance Methods, Sockets, Knowing IP address URL-URL Connection class. Creating a server that sends 
data, creating a client that receives data, two way communications between server and client, Stages in a 
JDBC program, registering the driver, connecting to a database, Preparing SQL statements, improving the 
performance of a JDBC program. 
Text Book 
1.  Herbert Scheldt: “The Complete Reference Java ”(Eighth Edition),TMH. 
Reference Books 
1. Dietel&Dietel : “Java2 How to Program”, Prentice Hall.  
2. Thamus Wu: “An Introduction to Object Oriented Programming With Java.” TMH  
3. Balagurusamy:”Programming With Java”: TMH.  </p>
</body>
</html>