{% load static %}
<html>
<head>
<title>OS</title>
<link rel="stylesheet" href="{% static 'css/Nandini.css' %}">
</head>
<body>
<h1> MTICA </h1>
<div class="navbar">
<div class="dropdown">
<button class="dropbtn">Semester-I</button>
<div class="dropdown-content">
<a href="{% url 'mca101' %}">MCA101</a>
<a href="{% url 'mca102' %}">MCA102</a>
<a href="{% url 'mca103' %}">MCA103</a>
<a href="{% url 'mca104' %}">MCA104</a>
<a href="{% url 'mca105' %}">MCA105</a>
<a href="{% url 'mca106' %}">MCA106P</a>
<a href="{% url 'mca107' %}">MCA107P</a>
<a href="{% url 'mca108' %}">MCA108P</a>
</div></div>
<div class="dropdown">
<button class="dropbtn">Semester-II</button>
<div class="dropdown-content">
<a href="{% url 'mca201' %}">MCA201</a>
<a href="{% url 'mca202' %}">MCA202</a>
<a href="{% url 'mca203' %}">MCA203</a>
<a href="{% url 'mca204' %}">MCA204</a>
<a href="{% url 'mca205' %}">MCA205</a>
<a href="{% url 'mca206' %}">MCA206</a>
<a href="{% url 'mca207' %}">MCA207P</a>
<a href="{% url 'mca208' %}">MCA208P</a>
<a href="{% url 'mca209' %}">MCA209P</a>
</div></div>
<div class="dropdown">
<button class="dropbtn">Semester-III</button>
<div class="dropdown-content">
<a href="{% url 'mca301' %}">MCA301</a>
<a href="{% url 'mca302' %}">MCA302</a>
<a href="{% url 'mca303' %}">MCA303</a>
<a href="{% url 'mca304' %}">MCA304</a>
<a href="{% url 'mca305' %}">MCA305</a>
<a href="{% url 'mca307' %}">MCA307</a>
<a href="{% url 'mca308' %}">MCA308P</a>
<a href="{% url 'mca309' %}">MCA309P/a>
<a href="{% url 'mca310' %}">MCA310P</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">Semester-IV</button>
<div class="dropdown-content">
<a href="{% url 'mca401' %}">S/W Testing</a>
<a href="{% url 'mca402' %}">Internet of Things</a>
<a href="{% url 'mca403' %}">Major Project Work</a>
</div>
<div class="dropdown">
<button class="dropbtn">Faculty</button>
<div class="dropdown-content">
<a href="{% url 'm' %}">PRABAKAR NAIDU</a>
<a href="{% url 'n' %}">MURALI MOHAN</a>
<a href="{% url 'o' %}">CHANDRA SHAKER</a>
<a href="{% url 'p' %}">HASYA</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">About Us</button>
<div class="dropdown-content">
<a href="about.html">Information</a>

</div>
</div>
</div>
<h1>WELCOME TO OS<h1>
<p>MCA 104: Operating Systems 
UNIT I 
Computer System Structures: Computer System operation, I/O Structure, storage structures, Storage 
hierarchy, Hardware protection, Network structure. Operating system structures: System components, 
Operating System services, System calls, System programs, System structure, Virtual machines, System 
Design and Implementation, System Generation. Processes: Processes Concept, Processes Scheduling, 
Operations in processes, Inter processes communication, Communication in Client server systems, Threads: 
overview, multithreading models, Threading issues, PThreads,  
UNIT II 
CPU Scheduling: Scheduling criteria, Scheduling Algorithms, Multiple processor Scheduling, Real-time 
scheduling. Process Synchronization: - The critical-section problem, Synchronization hardware, Semaphores, 
Classic problems of Synchronization, Critical regions, Monitors. Dead Locks: Deadlock characterization, 
Deadlock handling, Deadlock prevention, Deadlock avoidance, Deadlock detection, and Recovery. 
UNIT III 
Memory Management: Swapping, Contiguous memory allocation, Paging, Segmentation with paging Concept 
of Virtual memory Demand paging Page replacement, Allocation of frames, Thrashing. File System Interface 
& Implementation: File concept, Access methods, Directory structure, File System Mounting File Sharing 
Protection, File system structure, and implementation, Directory implementation, Allocation methods. Free 
space management, Efficiency and performance, Recovery. 
UNIT IV 
I/O Systems: overview, I/O hardware, Application I/O interface, Kernel I/O subsystem, Transforming I/O to 
Hard ware operations, streams , Performance of I/O. Mass Storage Structure:- Disk Structure Disk 
Scheduling, Disk management, Swap-space Management, 
RAID Structure,  
UNIT V 
Security: User authentication, program threats, system threats, security systems Facilities, Linux system: 
History, Design principles, Kernel modules, process management, Scheduling Memory Management, File 
Systems.  
Text Books: 
1. Silberschatz A, Galvin P.B, and Gaghe G. Operating System Concepts, 8th edition, John Wiley, 2002.  
2. Tenenbaum A.S., Modern Operating Systems, 2nd edition, Pearson Education, 2001.  
Reference Books:  
1. 
2. 
Dhamdhere D.M., Operating Systems – A concept based Approach, Tata McGraw-Hill, 2002.  
` 
Bhatt P.C.P., An Introduction to Operating Systems – Concepts and Practice, PHI, 2003. </p>
</body>
</html>