{% load static %}
<html>
<head>
<title>DS Java</title>
<link rel="stylesheet" href="{% static 'css/Nandini.css' %}">
</head>
<body>
<h1> MTICA </h1>
<div class="navbar">
<div class="dropdown">
<button class="dropbtn">Semester-I</button>
<div class="dropdown-content">
<a href="{% url 'mca101' %}">MCA101</a>
<a href="{% url 'mca102' %}">MCA102</a>
<a href="{% url 'mca103' %}">MCA103</a>
<a href="{% url 'mca104' %}">MCA104</a>
<a href="{% url 'mca105' %}">MCA105</a>
<a href="{% url 'mca106' %}">MCA106P</a>
<a href="{% url 'mca107' %}">MCA107P</a>
<a href="{% url 'mca108' %}">MCA108P</a>
</div></div>
<div class="dropdown">
<button class="dropbtn">Semester-II</button>
<div class="dropdown-content">
<a href="{% url 'mca201' %}">MCA201</a>
<a href="{% url 'mca202' %}">MCA202</a>
<a href="{% url 'mca203' %}">MCA203</a>
<a href="{% url 'mca204' %}">MCA204</a>
<a href="{% url 'mca205' %}">MCA205</a>
<a href="{% url 'mca206' %}">MCA206</a>
<a href="{% url 'mca207' %}">MCA207P</a>
<a href="{% url 'mca208' %}">MCA208P</a>
<a href="{% url 'mca209' %}">MCA209P</a>
</div></div>
<div class="dropdown">
<button class="dropbtn">Semester-III</button>
<div class="dropdown-content">
<a href="{% url 'mca301' %}">MCA301</a>
<a href="{% url 'mca302' %}">MCA302</a>
<a href="{% url 'mca303' %}">MCA303</a>
<a href="{% url 'mca304' %}">MCA304</a>
<a href="{% url 'mca305' %}">MCA305</a>
<a href="{% url 'mca307' %}">MCA307</a>
<a href="{% url 'mca308' %}">MCA308P</a>
<a href="{% url 'mca309' %}">MCA309P/a>
<a href="{% url 'mca310' %}">MCA310P</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">Semester-IV</button>
<div class="dropdown-content">
<a href="{% url 'mca401' %}">S/W Testing</a>
<a href="{% url 'mca402' %}">Internet of Things</a>
<a href="{% url 'mca403' %}">Major Project Work</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">Faculty</button>
<div class="dropdown-content">
<a href="{% url 'm' %}">PRABAKAR NAIDU</a>
<a href="{% url 'n' %}">MURALI MOHAN</a>
<a href="{% url 'o' %}">CHANDRA SHAKER</a>
<a href="{% url 'p' %}">HASYA</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">About Us</button>
<div class="dropdown-content">
<a href="about.html">Information</a>

</div>
</div>
</div>
<h1>WELCOME TO DS JAVA<h1>
<p>MCA 202: Data Structures Using Java 
Linear Data Structures : Abstract Data Types - Asymptotic Notations: Big-Oh, Omega and Theta – Best, 
Worst and Average case Analysis: Definition and an example – Arrays and its representations – Stacks and 
Queues – Linked lists – Linked list based implementation of Stacks and Queues – Evaluation of Expressions – 
Linked list based polynomial addition. 
UNIT II 
Non-Linear Data Structures; Trees – Binary Trees – Binary tree representation and traversals – Threaded 
binary trees – Binary tree representation of trees – Application of trees: Set representation and Union-Find 
operations – Graph and its representations – Graph Traversals DFS and BFS – Connected components, 
Applications of Graphs-Minimum cost spanning tree using Kruskal’s algorithm, Dijkstra’s algorithm for 
Single Source Shortest Path Problem. 
UNIT III 
Search Structures And Priority Queues: AVL Trees – Red-Black Trees – Splay Trees – Binary Heap – Leftist 
Heap-Implementation of priority Queue ADT with Heap 
UNIT IV 
Sorting: Insertion sort – Merge sort – Quick sort – Heap sort – Radix Sort- Comparison of sorting algorithms 
in terms of Complexity - Sorting with disks – k-way merging – Sorting with tapes – Polyphase merge. 
UNIT V 
Searching And Indexing: Linear Search – Binary Search - Hash tables – Overflow handling – Cylinder 
Surface Indexing – Hash Index – B-Tree Indexing, B+ Trees. 
Text Book: 
1. SartajSahni, Data Structures, Algorithms and Applications in Java, Second Edition, University Press.  
2. Gregory L. Heilman, Data Structures, Algorithms and Object Oriented Programming, Tata Mcgraw-Hill,  
New Delhi, 2002. 
References: 
1. 
Jean-Paul Tremblay and Paul G. Sorenson, An Introduction to Data Structures with Applications, Second  
Edition, Tata McGraw-Hill, New Delhi, 1991. 
2. Alfred V. Aho, John E. Hopcroft and Jeffry D. Ullman, Data Structures and Algorithms, Pearson  
Education, New Delhi, 2006.</p>
</body>
</html>